APP_NAME=COMERCIA API
ENVIRONMENT=development
API_V1_PREFIX=/api/v1
DATABASE_URL=sqlite:///./comercia.db
CORS_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:5175,http://localhost:5176,http://127.0.0.1:5173,http://127.0.0.1:5174,http://127.0.0.1:5175,http://127.0.0.1:5176
JWT_SECRET_KEY=change-this-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=120
DEFAULT_CURRENCY=mxn
DATA_MODE=demo
FORCE_SUPERADMIN_AUTH=0
FORCE_SUPERADMIN_EMAIL=superadmin@comercia.demo
STRIPE_PRICE_BASIC_FIXED=price_1TKmICJxpFAijNMED1bJQ2Rh
STRIPE_PRICE_GROWTH_FIXED=price_1TKmJ1JxpFAijNMEIFjL0F0A
STRIPE_PRICE_PREMIUM_FIXED=price_1TKmJpJxpFAijNMEkbK3T704
STRIPE_PRICE_BASIC_COMMISSION=price_1TKmKgJxpFAijNMEkRRvm7Qm
STRIPE_PRICE_GROWTH_COMMISSION=price_1TKmLkJxpFAijNMEXPJc6CT5
STRIPE_PRICE_PREMIUM_COMMISSION=price_1TKmMnJxpFAijNMErQIfKeKi
STRIPE_PRICE_ADDON_EXTRA_USER=price_1TKmXaJxpFAijNMEwGT0xpQB
STRIPE_PRICE_ADDON_EXTRA_AI_AGENT=price_1TKmYOJxpFAijNMEMd8MM4WG
STRIPE_PRICE_ADDON_EXTRA_BRAND=price_1TKmZ7JxpFAijNMEaX1xrCBG
STRIPE_PRICE_ADDON_EXTRA_100_PRODUCTS=price_1TKma8JxpFAijNMEIomraJ8c
STRIPE_PRICE_ADDON_EXTRA_BRANCH=price_1TKmb2JxpFAijNMEG7xOCcEY
STRIPE_PRICE_ADDON_EXTRA_500_AI_CREDITS=price_1TKmbjJxpFAijNME5HeT3Y3z
STRIPE_PRICE_ADDON_PREMIUM_SUPPORT=price_1TKmdHJxpFAijNMEqJzW1w43
STRIPE_PRICE_ADDON_COMERCIA_CONNECTOR=
RESEND_API_KEY=
SENDGRID_API_KEY=
SUPPORT_FROM_EMAIL=soporte@tudominio.com
SALES_FROM_EMAIL=ventas@tudominio.com
ALERTS_FROM_EMAIL=alertas@tudominio.com
WHATSAPP_PROVIDER=meta_cloud
WHATSAPP_CLOUD_API_VERSION=v22.0
WHATSAPP_CLOUD_ACCESS_TOKEN=
WHATSAPP_CLOUD_PHONE_NUMBER_ID=
WHATSAPP_CLOUD_WABA_ID=
WHATSAPP_DEFAULT_TO=
WHATSAPP_VERIFY_TOKEN=
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_POINT_COLLECTOR_ID=
MERCADOPAGO_POINT_POS_ID=
MERCADOPAGO_NOTIFICATION_URL=
